[submodule "expr"]
	path = expr
	url = ./
	branch = expr
[submodule "aeval"]
	path = aeval
	url = ./
	branch = aeval
[submodule "rnd"]
	path = rnd
	url = ./
	branch = rnd
[submodule "utils"]
	path = utils
	url = ./
	branch = utils
[submodule "sygus"]
	path = sygus
	url = ./
	branch = sygus
