/build/
/GPATH
/GRTAGS
/GTAGS
/ext/
/debug/
/static/
/dsa-seahorn/
/crab-llvm/

*.pyc
*.pyo
/llvm-seahorn/
/seahorn-llvm/
/gtags.files

.mypy_cache
.vscode
.sync
.tags
.tags1
.ipynb_checkpoints
terraform.tfstate
terraform.tfstate.backup*
tools/deep_bench/windows/files/ice.zip
tools/deep_bench/windows/files/mcmc.zip
tools/deep_bench/**/.terraform
tools/deep_bench/**/playbook.retry
tools/deep_bench/**/playbook.retry
tools/deep_bench/windows/clusterjobs.log
tools/deep_bench/windows/out-*.tar.gz

*.swp
*.swo
test/context/files/commitsha
test_output/
tags
compile_commands.json

# A folder with a bunch of miscellaneous stuff that I don't want in the git repo
old/
# A set of grammars we don't want committed
gf_grams/

# Newest version of Horn.hpp will produce this unconditionally if --debug is specified.
chc.dot
lemmas_*
